 .dygraph-legend {
  width: auto !important;
  min-width: 150px;
  color: white;
  background-color: #406177 !important;
  padding-left: 5px;
  border-color: #406177;
  border-style: solid;
  border-width:thin;
  transition: transform 0.3s ease-in-out;
  z-index: 40 !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
  border-radius: 3px;
}

.dygraph-legend:hover{
  transform: translate(-110%);
  transition: 0s;
}

.dygraph-legend > span {
  color: black;
  padding-left:0;
  padding-right:0;
  margin-left:0;
  background-color: white !important;
  display: block;
}

.dygraph-label, .dygraph-axis-label {
  color: black;
  font-family: 'Public Sans', sans-serif !important;
  font-size: 11px  !important;
  padding: 0 !important;
  margin: 0 !important;
}


.dygraph-annotation{
    font-family: 'Public Sans', sans-serif !important;
    font-size: 12px  !important;
}

.dygraph-legend > span:first-child {
  margin-top:2px;
}

.dygraph-legend > span > span{
  display: inline;
}

.highlight {
  border-left: 2px solid #BABABA;
  padding-left:3px !important;
}

